*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
.button {
  font-family: Fira Sans Condensed, sans-serif;
  font-size: 18px;
  font-weight: 700;
  min-height: 34px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.button:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}
.button:active {
  background-color: #545050;
}
.button:hover {
  text-decoration: underline;
}
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
  border: 1px solid #fff;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
.content {
  display: flex;
  max-width: 1140px;
  padding: 133px 30px;
  gap: 30px;
  align-items: flex-end;
  /* margin: auto; */
}

.result {
  display: flex;
  flex-direction: column;
  /* min-width: 711px;
  min-height: 456px; */
  gap: 16px;
}

.result__video-container {
  position: relative;
  min-width: 711px;
  min-height: 386px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 0;
  gap: 5px;
}
.search-form__fieldset-title {
  font-family: Fira Sans Condensed, sans-serif;
  font-weight: 400;
  line-height: 22px;
  font-size: 18px;
}
.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
}
.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}
.search-form__pseudo-checkbox {
  margin-right: 5px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox:active {
  background-color: #ffffff;
  outline: 1px solid #000;
  outline-offset: -2px;
  border: 1px solid #fff;
}
/* .search-form__checkbox:disabled +span {
  background-color: #00ff37;
  width: 19px;
  height: 19px;
}  */
.search-form__checkbox:checked + span {
  background-color: #ffffff;
  outline: 1px solid #000;
  outline-offset: -2px;
}
/* .search-form__pseudo-checkbox:hover {
  background-color: #f90707;
 width: 19px;
 height: 19px;
} */
.search-form__label:hover {
  text-decoration: underline;
}

.search-form__textfield {
  font-size: inherit;
  font-family: inherit;
  appearance: none;
  background-color: transparent;
  border-width: 1px 0;
  border-style: solid;
  border-color: #fff;
  outline-color: transparent;
  color: #fff;
  line-height: 24px;
  min-width: 226px;
}
.search-form__textfield:active {
  border: 0px;
  outline: 1px solid #fff;
}
/* .search-form__textfield:hover{
  border-width:1px 0;
  border-style:solid;
  border-color:#fff;
} */
.search-form__textfield:focus {
  outline: none;
}
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
.search-form__submit-button {
  min-width: 194px;
  align-self: end;
}

/* .search-form__submit-button:active {
  background-color: #545050;
}
.search-form__submit-button:hover {
  text-decoration: underline;
}
.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
  border:1px solid #fff;
} */

.content__details {
  display: flex;
  flex-direction: column;
  min-width: 399px;
  min-height: 534px;
  gap: 26px;
}
.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}
.content__list {
  position: relative;
  max-height: 298px;
  overflow-y: scroll;
  overflow-x: hidden;
}
/* .content__list-item{
 padding: 3px;
} */
.content__card-link:focus {
  border: 0;
  outline: none;
  box-shadow: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
  outline: none;
}

.content__card-link {
  padding: 2px 0px 2px 2px;
  display: block;
  text-decoration: none;
  color: #fff;
}
.content__card-link_current {
  background-color: #545050;
}
.content__list-item:not(:last-of-type) {
  margin-bottom: 30px;
}
.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content__video-card:active {
  background-color: #545050;
}
.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
  object-fit: cover;
}
.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
  text-transform: uppercase;
}
.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.content__video-card-description {
  line-height: 16.2px;
}
.more-button {
  min-width: 100%;
}
